@model IEnumerable<Pannet.Models.UserAmountHistory>
@using Pannet.Models
@using Pannet.DAL.Repository
@using Pannet.DAL
@{
    ViewBag.Title = "调整用户账户余额";
    User UserModel = ViewBag.User;
}

<div class="page-content">
    <div class="page-header">
        <h1>
            <span id="lblTitle">用户信息</span>
            <small>
                <i class="icon-double-angle-right"></i>
                <span>编辑用户信息</span>
            </small>
        </h1>
    </div>
    <ul class="nav nav-tabs padding-18 tab-size-bigger" id="myTab">
        <li class="">
            <a href="@Url.Action("MemberEdit", new { ID = ViewBag.ID })">
                <i class="blue icon-info bigger-120"></i>
                用户信息
            </a>
        </li>

        <li class="">
            <a href="@Url.Action("ChangeUserRole", new { UserID = ViewBag.ID })">
                <i class="green icon-user bigger-120"></i>
                用户角色
            </a>
        </li>

       @* <li class="">
            <a href="@Url.Action("ChangeUserLevel", new { UserID = ViewBag.ID })">
                <i class="orange icon-user  bigger-120"></i>
                用户等级
            </a>
        </li>*@
        <li class="active">
            <a href="@Url.Action("ChangeUserAmount", new { UserID = ViewBag.ID })">
                <i class="blue icon-credit-card bigger-120"></i>
                账户余额
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("ChangeUserScore", new { UserID = ViewBag.ID })">
                <i class="green icon-credit-card bigger-120"></i>
                用户积分
            </a>
        </li>
         <li class="">
            <a href="@Url.Action("ChangeUserPwd", new { UserID = ViewBag.ID })">
                <i class="blue icon-lock bigger-120"></i>
                修改密码
            </a>
        </li>
    </ul>

    @using (Html.BeginForm("ChangeUserAmount", "User", FormMethod.Post, new { @class = "form-horizontal" }))
    { 
        @Html.ValidationSummary(true)
        @Html.Raw(ViewBag.MessageInfo)
        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <td colspan="2" align="left"><b>用户账户余额</b></td>
                </tr>
                <tr>
                    <td width="120">用户名：</td>
                    <td>
                        @UserModel.U_UserName
                        <input type="hidden" name="UserID" id="UserID" value="@UserModel.ID" />
                    </td>
                </tr>
                <tr>
                    <td>当前余额：</td>
                    <td class="red">￥@UserModel.U_Amount
                    </td>
                </tr>
                   <tr>
                    <td>当前锁定余额：</td>
                    <td class="red">￥@UserModel.U_LockAmount
                    </td>
                </tr>
                <tr>
                    <td>调整资金类型：</td>
                    <td>
                        <select name="amount_type" id="amount_type">
                            @foreach (var item in DataConfig.AmountTypes)
                            {
                                <option value="@item.Value">@item.Name</option>
                            }
                        </select>
                        (<span class="red">不可用余额即锁定余额，包含保障金、押金等</span>)
                    </td>
                </tr>
                <tr>
                    <td>变动类型：</td>
                    <td>
                        <select name="type" id="type">
                            @foreach (var item in DataConfig.AmountHistoryTypeValues)
                            {
                                <option value="@item.Value">@item.Name</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><font class="red">*</font>变动金额：</td>
                    <td>
                        <input name="amount" id="amount" value="0" />

                    </td>
                </tr>
                <tr>
                    <td><font class="red">*</font>帐户变动说明：</td>
                    <td>
                        <textarea name="thing" id="thing" style="width: 300px;" maxlength="50"></textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" name="btnSubmit" id="btnSubmit" class="btn btn-success"><i class="icon-ok"></i>保存</button>
                    </td>
                </tr>
            </tbody>
        </table>
    }

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th colspan="10">账户余额调整记录</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="20"></td>
                <td>说明</td>
                <td>分类</td>
                <td>类型</td>
                <td>变动余额</td>
                <td>剩余余额</td>
                <td>变动不可用余额</td>
                <td>剩余总不可用余额</td>
                <td>操作人</td>
                <td>操作时间</td>
                <td>操作</td>
            </tr>
            @{
                int i = 1;
            }
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                <tr id="dr_row_@i">
                    <td>
                        <input name="ids[@item.ID]" type="checkbox" class="dr_select toggle md-check" value="@item.ID"></td>
                    <td>@item.Thing</td>
                    <td>@item.Category</td>
                    <td>@(DataConfig.AmountHistoryTypeValues.Find(m => m.Value == item.Type.ToString()).Name)</td>
                    <td>@(item.Type == 1 ? "+" : "-") @item.Amount</td>
                    <td>@item.TotalAmount</td>
                    <td>@(item.Type == 1 ? "+" : "-") @item.LockAmount</td>
                    <td>@item.LockTotalAmount</td>
                    <td>@item.Operator</td>
                    <td>@item.Time</td>
                    <td class="dr_option">
                        <a class="adel label label-sm label-default" href="@Url.Action("UserAmountHistoryDelete", "User", new { ID = item.ID, UserID = UserModel.ID })" data-confirm="delete"><i class="icon-trash"></i>删除</a>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>
