@model Pannet.Models.User

@using Pannet.DAL;
@using Pannet.Models;

@{
    ViewBag.Title = "新增用户";
    List<Department> departmentList = ViewBag.Departments;
}

<div class="page-content">
    <div class="page-header">
        <h1>
            <span id="lblTitle">用户信息</span>
            <small>
                <i class="icon-double-angle-right"></i>
                <span>新增用户</span>
            </small>
        </h1>
    </div>

    @using (Html.BeginForm("MemberAdd", "User", FormMethod.Post, new { @class = "form-horizontal" }))
    { 
        @Html.ValidationSummary(true)
        @Html.Raw(ViewBag.MessageInfo)
        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <td colspan="2" align="left"><b>基本信息</b></td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.UserRoleID)</td>
                    <td>
                        <select name="UserRoleID" id="UserRoleID">
                            <option value="0">请选择角色</option>
                            @foreach (UserRole item in ViewBag.UserRoles)
                            {
                                <option value="@item.ID" @Html.Raw(ViewBag.RoleID != null && ViewBag.RoleID == item.ID || Model.UserRoleID == item.ID ? "selected='selected'" : "") >@item.Role_Name</option>
                            }
                        </select>
                        <span class="red">*</span>
                        @Html.ValidationMessageFor(m => m.UserRoleID)
                    </td>
                </tr>
                <tr>
                    <td width="100">@Html.LabelFor(m => m.U_UserName)：</td>
                    <td>
                        @Html.TextBoxFor(m => m.U_UserName) <span class="red">*</span> <span class="red">手机号码，不可修改</span>
                        @Html.ValidationMessageFor(m => m.U_UserName)
                    </td>
                </tr>
                <tr>
                    <td width="100">@Html.LabelFor(m => m.U_Pwd)：</td>
                    <td>
                        @Html.PasswordFor(m => m.U_Pwd, new { Value = Model.U_Pwd }) <span class="red">*</span>（默认密码是：123456）
                        @Html.ValidationMessageFor(m => m.U_Pwd)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.U_NickName)：</td>
                    <td>
                        @Html.TextBoxFor(m => m.U_NickName)
                        @Html.ValidationMessageFor(m => m.U_NickName)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.U_RealName)：</td>
                    <td>
                        @Html.TextBoxFor(m => m.U_RealName)
                        @Html.ValidationMessageFor(m => m.U_RealName)
                    </td>
                </tr>
                 <tr style="display: none;">
                    <td>@Html.LabelFor(m => m.U_Company)：</td>
                    <td>
                        @Html.TextBoxFor(m => m.U_Company)
                        @Html.ValidationMessageFor(m => m.U_Company)
                    </td>
                </tr>
                <tr style="display: none;">
                    <td>@Html.LabelFor(m => m.U_Height)：</td>
                    <td>
                        @Html.TextBoxFor(m => m.U_Height, new { Value = "0" }) CM
                        @Html.ValidationMessageFor(m => m.U_Height)
                        &nbsp;
                        @Html.LabelFor(m => m.U_Weight)：
                         @Html.TextBoxFor(m => m.U_Weight, new { Value = "0" }) KG
                        @Html.ValidationMessageFor(m => m.U_Weight)
                    </td>
                </tr>

                <tr style="display: none;">
                    <td>@Html.LabelFor(m => m.U_HopeWeight)：</td>
                    <td>
                        @Html.TextBoxFor(m => m.U_HopeWeight, new { Value = "0" }) KG
                        @Html.ValidationMessageFor(m => m.U_HopeWeight)
                    </td>
                </tr>
                <tr style="display:none;">
                    <td>@Html.LabelFor(m => m.U_DepartmentID)：</td>
                    <td>
                        <select name="U_DepartmentID" id="U_DepartmentID">
                            <option value="0">-请选择部门-</option>
                            @if (departmentList != null)
                            {
                                foreach (Department item in departmentList.Where(m => m.Dep_FollowID == 0))
                                {
                                <option @(Model.U_DepartmentID == item.ID ? "selected='selected'" : "") value="@item.ID">@item.Dep_Name</option>
                                    foreach (Department itemSub in departmentList.Where(m => m.Dep_FollowID == item.ID))
                                    {
                                <option @(Model.U_DepartmentID == itemSub.ID ? "selected='selected'" : "") value="@itemSub.ID">|----@itemSub.Dep_Name</option>
                                    }
                                }
                            }
                        </select>
                        <span class="red">*</span>
                    </td>
                </tr>
                <tr style="display: none;">
                    <td>@Html.LabelFor(m => m.U_Education)：</td>
                    <td>
                        <select name="U_Education" id="U_Education">
                            <option value="0">-请选择学历-</option>
                            @if (ViewBag.Educations != null)
                            {
                                foreach (Tag item in ViewBag.Educations)
                                {
                                <option @(Model.U_Education == item.ID.ToString() ? "selected='selected'" : "") value="@item.ID">@item.T_Name</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><b>联系方式</b></td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.U_Phone)：</td>
                    <td>
                        @Html.TextBoxFor(m => m.U_Phone)
                        @Html.ValidationMessageFor(m => m.U_Phone)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.U_QQ)：</td>
                    <td>
                        @Html.TextBoxFor(m => m.U_QQ)
                        @Html.ValidationMessageFor(m => m.U_QQ)
                    </td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(m => m.U_Email)：</td>
                    <td>
                        @Html.TextBoxFor(m => m.U_Email)
                        @Html.ValidationMessageFor(m => m.U_Email)
                    </td>
                </tr>
                <tr>
                    <td>所在地区： </td>
                    <td>
                        <select name="U_Province" id="U_Province">
                            <option value="0">-请选择省份-</option>
                            @if (ViewBag.Provinces != null)
                            {
                                foreach (var item in ViewBag.Provinces)
                                {
                                <option @(Model.U_Province == item.ID ? "selected='selected'" : "") value="@item.ID">@item.Area_Name</option>
                                }
                            }
                        </select>
                        <select name="U_City" id="U_City">
                            <option value="0">-请选择城市-</option>
                            @if (ViewBag.Citys != null)
                            {
                                foreach (var item in ViewBag.Citys)
                                {
                                <option @(Model.U_City == item.ID ? "selected='selected'" : "") value="@item.ID">@item.Area_Name</option>
                                }
                            }
                        </select>
                        <select name="U_Region" id="U_Region">
                            <option value="0">-请选择地区-</option>
                            @if (ViewBag.Regions != null)
                            {
                                foreach (var item in ViewBag.Regions)
                                {
                                <option @(Model.U_Region == item.ID ? "selected='selected'" : "") value="@item.ID">@item.Area_Name</option>
                                }
                            }
                        </select>
                        <span class="red">终端必填</span>
                        @Html.ValidationMessageFor(m => m.U_Province)
                        @Html.ValidationMessageFor(m => m.U_City)
                        @Html.ValidationMessageFor(m => m.U_Region)
                        <script>

                            $(function () {
                                $("#U_Province").change(function () {
                                    var U_Provinceid = $("#U_Province").val();
                                    if (parseInt(U_Provinceid) != 0) {
                                        GetCityData();
                                        GetRegionData();
                                    }
                                });
                                $("#U_City").change(function () {
                                    var U_Cityid = $("#U_City").val();
                                    if (parseInt(U_Cityid) != 0) {
                                        GetRegionData();
                                    }
                                });
                            });

                            function ShowU_CityHtml(U_CityJson) {
                                var U_CityHtml = "<option value='0'>-请选择城市-</option>";
                                //alert(U_CityJson);
                                $.each(U_CityJson, function (index, data) {
                                    U_CityHtml += "<option value='" + data.ID + "'>" + data.Area_Name + "</option>";
                                });
                                $("#U_City").html(U_CityHtml);
                            }
                            function ShowU_RegionHtml(U_RegionJson) {
                                var U_RegionHtml = "<option value='0'>-请选择地区-</option>";
                                //alert(U_RegionJson);
                                $.each(U_RegionJson, function (index, data) {
                                    U_RegionHtml += "<option value='" + data.ID + "'>" + data.Area_Name + "</option>";
                                });
                                $("#U_Region").html(U_RegionHtml);
                            }
                            function GetCityData() {
                                var U_Provinceid = $("#U_Province").val();
                                if (parseInt(U_Provinceid) == 0)
                                    return null;

                                $.ajax({
                                    type: 'POST',
                                    url: '@Url.Action("GetAreaJson", "Area")',
                                    data: { "parentid": U_Provinceid },
                                    dataType: "json",
                                    async: false,
                                    success: function (data) {
                                        ShowU_CityHtml(data);
                                    }
                                });
                            }
                            function GetRegionData() {
                                var U_Cityid = $("#U_City").val();
                                if (parseInt(U_Cityid) == 0)
                                    return null;

                                $.ajax({
                                    type: 'POST',
                                    url: '@Url.Action("GetAreaJson", "Area")',
                                    data: { "parentid": U_Cityid },
                                    dataType: "json",
                                    async: false,
                                    success: function (data) {
                                        ShowU_RegionHtml(data);
                                    }
                                });
                            }
                        </script>
                    </td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(m => m.U_Address)： </td>
                    <td>
                        @Html.TextBoxFor(m => m.U_Address, new { @class = "input-text", style = "width:300px;" })
                        @Html.ValidationMessageFor(m => m.U_Address)
                    </td>
                </tr>
                   <tr style="display: none;">
                    <td>@Html.LabelFor(m => m.U_ShopName)： </td>
                    <td>
                        @Html.TextBoxFor(m => m.U_ShopName, new { @class = "input-text", style = "width:300px;" })
                        @Html.ValidationMessageFor(m => m.U_ShopName)
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><b>账户状态</b></td>
                </tr>
                <tr style="display: none;">
                    <td>@Html.LabelFor(m => m.UserShopID)</td>
                    <td>
                        <select name="UserShopID" id="UserShopID">
                            <option value="0">平台（默认）</option>
                            @if (ViewBag.Shops != null)
                            {
                                foreach (var item in ViewBag.Shops as List<UserShop>)
                                {
                                <option value="@item.ID" @(Model != null && item.ID == Model.UserShopID ? " selected='selected'" : "")>@item.Shop_Name</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.U_Is_Enable)</td>
                    <td>
                        <select name="IsEnable" id="IsEnable">
                            @foreach (var item in DataConfig.YesOrNo)
                            {
                                <option value="@item.Value" @(Model != null && item.Value == "1" ? " selected='selected'" : "")>@item.Name</option>
                            }
                        </select>
                        <span class="red">“启用”才能登录</span>
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.U_Is_Check)</td>
                    <td>
                        <select name="IsCheck" id="IsCheck">
                            @foreach (var item in DataConfig.YesOrNo)
                            {
                                <option value="@item.Value" @(Model != null && item.Value == Model.U_Is_Check.ToString() ? " selected='selected'" : "")>@item.Name</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" name="btnSubmit" id="btnSubmit" class="btn btn-success" onclick="javascript:return checkForm();"><i class="icon-ok"></i>保存</button>
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>
<script>

    function checkForm() {
        //if ($("#UserRoleID").val() == "3") {//企业员工
        //    if ($("#U_DepartmentID").val() == "0") {
        //        alert("请选择所属部门！");
        //        return false;
        //    }
        //}

        //if ($("#UserRoleID").val() == "11") {//终端
        //    if ($("#U_Province").val() == "0") {
        //        alert("请选择省份！");
        //        return false;
        //    }
        //    if ($("#U_City").val() == "0") {
        //        alert("请选择城市！");
        //        return false;
        //    }
        //    //if ($("#U_Province").val() == "0") {
        //    //    alert("请选择省份！");
        //    //    return false;
        //    //}
        //}
        
        
    }
</script>
