@model Pannet.Models.ConsultMessage

@using Pannet.DAL
@using Pannet.Utility

@{
    ViewBag.Title = "培训需求报名记录 ";
}

<div class="page-content">
    <div class="page-header">
        <h1>
            <span id="lblTitle">培训需求报名记录 </span>
            <small>
                <i class="icon-double-angle-right"></i>
                @if (Model != null && Request.RequestContext.RouteData.Values["ID"] != null)
                {
                    <span>详情 </span>
                }
                else
                {
                    <span>新增</span>
                }
            </small>
        </h1>
    </div>


    @using (Html.BeginForm("Add", "ConsultMessage", FormMethod.Post))
    { 
        @Html.ValidationSummary(true)
        @Html.Raw(ViewBag.MessageInfo)
        @Html.HiddenFor(m => m.ID, new { @value = ViewBag.ID })

        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <td width="120">@Html.LabelFor(m => m.Title)： </td>
                    <td>
                        @Html.DisplayFor(m => m.Title)
                    </td>
                </tr>
                <tr style="display:none;">
                    <td>@Html.LabelFor(m => m.ShopName)： </td>
                    <td>
                        @Html.DisplayFor(m => m.ShopName)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.UserName)： </td>
                    <td>
                        @Html.DisplayFor(m => m.UserName)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Tel)： </td>
                    <td>
                        @Html.DisplayFor(m => m.Tel)
                    </td>
                </tr>
                  <tr>
                    <td>@Html.LabelFor(m => m.Address)： </td>
                    <td>
                        @Html.DisplayFor(m => m.Address)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.IsContact)： </td>
                    <td>
                        <select name="IsContact" id="IsContact">
                            @foreach (var item in DataConfig.YesOrNo)
                            {
                                <option value="@item.Value" @(Model != null && item.Value == Model.IsContact.ToString() ? " selected='selected'" : "")>@item.Name</option>
                            }
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(m => m.CreateTime)： </td>
                    <td>
                        @Html.DisplayFor(m => m.CreateTime)
                    </td>
                </tr>
                 <tr>
                    <td>@Html.LabelFor(m => m.Content)： </td>
                    <td>
                       @Model.Content
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Remark)： </td>
                    <td>
                        @Html.TextAreaFor(m => m.Remark, new { style = "width:400px;height:80px;" })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" name="btnSubmit" id="btnSubmit" class="btn btn-success"><i class="icon-ok"></i>保存</button>
                    </td>
                </tr>
            </tbody>
        </table>
    }

</div>
