@model Pannet.Models.InvoiceLog
@using Pannet.DAL
@using Pannet.Utility
@using Pannet.Models

@{
    ViewBag.Title = "申请发票管理 ";
}

<div class="page-content">
    <div class="page-header">
        <h1>
            <span id="lblTitle">申请发票管理 </span>
            <small>
                <i class="icon-double-angle-right"></i>
                @if (Model != null && Request.RequestContext.RouteData.Values["ID"] != null)
                {
                    <span>详情</span>
                }
                else
                {
                    <span>新增</span>
                }
            </small>
        </h1>
    </div>
    @using (Html.BeginForm("Detail", "Invoice", FormMethod.Post))
    { 
        @Html.ValidationSummary(true)
        @Html.Raw(ViewBag.MessageInfo)
        <input type="hidden" id="ID" value="@ViewBag.ID" />

        <table class="table table-striped table-hover form-inline">
            <tbody>
                <tr>
                    <td width="120">@Html.LabelFor(m => m.Inv_InvoiceType)： </td>
                    <td>
                        <select name="Inv_InvoiceType" id="Inv_InvoiceType" class="form-control">
                            @foreach (var item in DataConfig.InvoiceType)
                            {
                                <option value="@item.Value">@item.Name</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Inv_Content)： </td>
                    <td>
                        @Html.DisplayFor(m => m.Inv_Content)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Inv_Amount)： </td>
                    <td>
                        <span class="red">@Model.Inv_Amount</span> 元 
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Inv_Title)： </td>
                    <td>
                        @Html.TextBoxFor(m => m.Inv_Title, new { @class = "form-control", style = "width:400px;", placeholder = "填写发票抬头" }) <span class="red">*</span>
                        @Html.ValidationMessageFor(m => m.Inv_Title)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Inv_BusinessTax)： </td>
                    <td>
                        @Html.TextBoxFor(m => m.Inv_BusinessTax, new { @class = "form-control", style = "width:400px;" }) <span class="red">*</span>
                        @Html.ValidationMessageFor(m => m.Inv_BusinessTax)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Inv_CompanyAddress)： </td>
                    <td>
                        @Html.TextBoxFor(m => m.Inv_CompanyAddress, new { @class = "form-control", style = "width:400px;", placeholder = "首次开专票需要认证，必填" }) <span class="red"></span>
                        @Html.ValidationMessageFor(m => m.Inv_CompanyAddress)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Inv_BankName)： </td>
                    <td>
                        @Html.TextBoxFor(m => m.Inv_BankName, new { @class = "form-control", placeholder = "填写开户行名称" }) <span class="red red_taxz">*</span>
                        @Html.ValidationMessageFor(m => m.Inv_BankName)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Inv_BankNumber)： </td>
                    <td>
                        @Html.TextBoxFor(m => m.Inv_BankNumber, new { @class = "form-control", placeholder = "填写开户账号" }) <span class="red red_taxz">*</span>
                        @Html.ValidationMessageFor(m => m.Inv_BankNumber)
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="height: 10px;">
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Inv_Address)： </td>
                    <td>
                        @Html.TextBoxFor(m => m.Inv_Address, new { @class = "form-control", style = "width:400px;", placeholder = "街道名称/大厦/门牌号" }) <span class="red">*</span>
                        @Html.ValidationMessageFor(m => m.Inv_Address)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Inv_Addressee)： </td>
                    <td>
                        @Html.TextBoxFor(m => m.Inv_Addressee, new { @class = "form-control", placeholder = "收件人姓名" }) <span class="red">*</span>
                        @Html.ValidationMessageFor(m => m.Inv_Addressee)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Inv_Tel)： </td>
                    <td>
                        @Html.TextBoxFor(m => m.Inv_Tel, new { @class = "form-control", placeholder = "手机或座机" }) <span class="red">*</span>
                        @Html.ValidationMessageFor(m => m.Inv_Tel)
                    </td>
                </tr>
                <tr class="tr_taxamount">
                    <td>@Html.LabelFor(m => m.Inv_TaxAmount)： </td>
                    <td>
                        @Html.TextBoxFor(m => m.Inv_TaxAmount, new { @class = "form-control" }) 元
                        @Html.ValidationMessageFor(m => m.Inv_TaxAmount)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Inv_Express)： </td>
                    <td>
                        @Html.TextBoxFor(m => m.Inv_Express, new { @class = "form-control" }) 元
                        @Html.ValidationMessageFor(m => m.Inv_Express)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Inv_ExpressNumber)： </td>
                    <td>
                        @Html.TextBoxFor(m => m.Inv_ExpressNumber, new { @class = "form-control" }) 元
                        @Html.ValidationMessageFor(m => m.Inv_ExpressNumber)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Inv_Remark)： </td>
                    <td>
                        @Html.TextAreaFor(m => m.Inv_Remark, new { @class = "form-control" }) 元
                        @Html.ValidationMessageFor(m => m.Inv_Remark)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Inv_Status)：</td>
                    <td>
                        <span class="@(Model.Inv_Status == 0 ? "red" : Model.Inv_Status == 2 ? "green" : "red")">@(DataConfig.InvoiceStatus.Find(m => m.Value == Model.Inv_Status.ToString()).Name)</span>
                        <select name="Inv_Status" id="Inv_Status">
                            <option value='@Model.Inv_Status'>-调整状态-</option>
                            @foreach (var item in DataConfig.InvoiceStatus)
                            {
                                <option value="@item.Value">@item.Name</option>
                            }
                        </select>
                    </td>
                </tr>
                @if (Model.Inv_Status != 3 && Model.Inv_Status != 4)
                {
                    <tr>
                        <td></td>
                        <td>
                            <button type="submit" name="btnSubmit" id="btnSubmit" class="btn btn-info" onclick="javascript:return DoSubmit();"><i class="icon-ok"></i>保存发票信息</button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }

</div>
