@model PagedList.PagedList<Pannet.Models.Questionnaire>

@using Pannet.Models
@using Pannet.DAL.Repository
@using Pannet.DAL
@using PagedList.Mvc

@{
    //Layout = null;
    ViewBag.Title = "问卷调查管理";
}

<div class="page-content">
    <div class="page-header">

        <h1>
            <span id="lblTitle">问卷调查管理</span>
            <small>
                <i class="icon-double-angle-right"></i>
                列表
            </small>
        </h1>
    </div>
    <div class="form-inline">

        <div class="pull-left">
            <form method="post" action="@Url.Action("Index", "Questionnaire")" name="searchform" id="searchform">
                <input type="text" class="form-control" value="@ViewBag.Keyword" placeholder="输入搜索词" name="keyword">
                状态：<select name="status" id="status" class="form-control">
                    <option value="-1" @(ViewBag.status == -1 ? "selected='selected'" : "")>全部</option>
                    <option value="1" @(ViewBag.status == 1 ? "selected='selected'" : "")>启用</option>
                    <option value="0" @(ViewBag.status == 0 ? "selected='selected'" : "")>未启用</option>
                </select>
                <button type="submit" class="btn btn-success btn-sm"><i class="icon-search"></i>搜索</button>
            </form>
        </div>
        <div class="dropdown pull-right">
            <a class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon-cog"></i>操作菜单<i class="icon-caret-down"></i>
            </a>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="@Url.Action("Index")"><i class="icon-group"></i>问卷调查列表</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="@Url.Action("Add")"><i class="icon-group"></i>新增问卷调查</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:window.location.reload();">
                        <i class="icon-refresh"></i>刷新页面</a>
                </li>
            </ul>
        </div>
    </div>
    <p></p>
    <form method="post" action="@Url.Action("Index")" name="fromlist" id="fromlist">
        <input type="hidden" name="action" id="action" value="update" />
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    @*<th width="10"></th>*@
                    <th>ID</th>
                    <th>问卷调查名称</th>
                    <th>状态</th>
                    <th>题数</th>
                    <th>排序</th>
                    <th>是否外链</th>
                    <th>截止时间</th>
                    <th>创建时间</th>
                    <th class="dr_option">操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                    <tr id="dr_row_@item.ID">
                        @*<td>
                            <input name="ids" type="checkbox" class="dr_select toggle md-check" value="@item.ID"></td>*@
                        <td>@item.ID</td>
                        <td>@item.Quest_Title</td>
                        <td>@Html.Raw(item.Quest_Status == 1 ? "<span class='green'>启用</span>" : "<span class='red'>未启用</span>")</td>
                        <td>@item.Quest_Count</td>
                        <td>@item.Quest_Sort</td>
                        <td style="max-width:150px;word-break:break-all;">@Html.Raw(string.IsNullOrEmpty(item.Quest_URL)? "<span class='red'>否</span>": "<span class='green'>是</span>" )<br />@item.Quest_URL</td>
                        <td>@item.Quest_EndTime</td>
                        <td>@item.Quest_CreateTime</td>
                        <td class="dr_option">
                            <a class="aedit" href="@Url.Action("Copy", new { ID = item.ID })"><i class="icon-copy"></i>复制问卷</a>
                            <a class="aedit" href="@Url.Action("Question", new { Quest_ID = item.ID })"><i class="icon-edit"></i>试题</a>
                            <a class="aedit" href="@Url.Action("Add", new { ID = item.ID })"><i class="icon-edit"></i>编辑</a>
                            <a class="adel" href="@Url.Action("Delete", new { ID = item.ID })" style="@(item.ID == 1 ? "display:none" : "") " data-confirm="delete"><i class="icon-trash"></i>删除</a>
                        </td>
                    </tr>
                    }
                }
                <tr style="display: none;">
                    <td colspan="20" align="left">
                        <label>
                            <input name="chkSelectAll" type="checkbox" onclick="javascript: select_all(this, 'ids', 'fromlist')">全选</label>
                        @*<a class="btn btn-sm btn-danger" onclick="javascript:$('#action').val('delete');return dr_confirm_batch('您确定删除吗？','fromlist');">删除</a>*@
                        <a class="btn btn-sm btn-info" onclick="javascript:$('#action').val('update');return dr_confirm_batch('您确定要执行操作吗？','fromlist');">更新</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="20" align="right">@Html.PagedListPager(Model, page => Url.Action("Index", new { page, keyword = ViewBag.Keyword, ViewBag.status }))</td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
