@inherits System.Web.Mvc.WebViewPage<Pannet.Models.AdminLoginVModel>
@*@model Pannet.Models.AdminLoginVModel*@
@{
    Layout = null;    
}
<!DOCTYPE html>
<html lang="cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@Pannet.DAL.WebSiteConfig.WebSiteName</title>
    <meta name="keywords" content="@Pannet.DAL.WebSiteConfig.SystemName @Pannet.DAL.WebSiteConfig.SystemVersion" />
    <meta name="description" content="" />
    <meta name="author" content="@Pannet.DAL.WebSiteConfig.CompanyName @Pannet.DAL.WebSiteConfig.CompanyUrl" />
    <link href="~/Content/css/normalize.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <link href="~/Content/css/validation.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-1.7.2.min.js"></script>
    <!--[if lt IE 9]>
            <script src="~/Content/js/html5shiv.js"></script>
            <script src="~/Content/js/respond.min.js"></script>
        <![endif]-->
    <script>
        if (top.location.href != window.location.href) {
            top.location.href = "/Manager/Login";
        }
    </script>
</head>
<body>
    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>@Pannet.DAL.WebSiteConfig.WebSiteName</strong></h1>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>登录系统</h3>
                                <p>请输入正确账号及密码:</p>
                            </div>
                            <div class="form-top-right">
                                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="form-bottom">
                            @using (Html.BeginForm("Login", "Manager", FormMethod.Post, new { @class = "login-form" }))
                            { 
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </span>
                                        <label class="sr-only" for="form-username">账号</label>
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-username form-control input-lg", @placeholder = "账号" })
                                    </div>
                                    <div class="input-group">@Html.ValidationMessageFor(m => m.UserName)</div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-lock"></span>
                                        </span>
                                        <label class="sr-only" for="form-password">密码</label>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-password form-control input-lg", @placeholder = "密码" })
                                    </div>
                                    <div class="input-group">@Html.ValidationMessageFor(m => m.Password)</div>
                                </div>
                                <input type="submit" name="btnlogin" value=" 登  陆 " id="btnlogin" class="form-control input-lg btn-success" />
                                <div class="form-group">
                                    <div class="field-validation-error">@ViewBag.LoginMessage </div>
                                </div>
                            }
                        </div>
                        <div class="row">
                            <p>CopyRight © 2013-@(DateTime.Now.Year) <a href="http://www.pannet.cn" target="_blank">pannet.cn</a> All Rights Reserved.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <script src="~/Content/js/login.js"></script>
</body>
</html>
