@model Pannet.Models.UserLoginVModel

@using Pannet.Models 
@using Pannet.DAL  
@using Pannet.DAL.Repository  
@{
    ViewBag.Title = "登录";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
    SystemInfo sysModel = SystemInfoService.GetModel();
}
@section Style{
    <style>
        html { background: #f8f8f8!important; }
        .pc_bottom {display:none; }
    </style>
}
@if (ViewBag.Referrer != null && Convert.ToString(ViewBag.Referrer) != "")
{ 
    <script>localStorage.setItem("u", "@ViewBag.Referrer");</script>
}
@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{ 
    @Html.ValidationSummary(true)
    <input type="hidden" name="role" value="@ViewBag.Role" />
    <input type="hidden" name="returnurl" value="@ViewBag.returnurl" />
    <div class="box">
        <div class="u_banner">
            <img src="~/Areas/Mobile/images/pic_login.jpg" />
        </div>
        @*<div class="u_option">
            <dl>
                <dd class="@(ViewBag.Role == 3 ? "u_opSel" : "")"><a href="@Url.Action("Index", new { role = 3 })"><span>企业内部员工登录</span></a></dd>
                <dd class="@(ViewBag.Role == 11 ? "u_opSel" : "")"><a href="@Url.Action("Index", new { role = 11 })"><span>全国城市终端登录</span></a></dd>
            </dl>
        </div>*@
        <div class="u_content">
            <div class="u_info">
                <dl>
                    <dt><i class="icon iconfont icon-dianhua"></i></dt>
                    <dd>
                        <input type="text" placeholder="请输入您的手机号" name="UserName" id="UserName" value="@(Model!=null?Model.UserName:"")" /><span></span></dd>
                </dl>
                <dl>
                    <dt><i class="icon iconfont icon-mima1"></i></dt>
                    <dd>
                        <input type="password" name="Password" id="Password" placeholder="请输入您的密码"><span></span></dd>
                </dl>
            </div>
            <div class="tac field-validation-error">
                @Html.ValidationMessageFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.Password)
                @Html.Raw(ViewBag.MessageInfo)
            </div>
            <div class="u_btn">
                <div class="u_submit">
                    <input type="submit" value="登录">
                </div>
                <div class="u_other">
                    <div class="u_register"><a href="@Url.Action("Mobile", "Register")">注册账号</a></div>
                    <div class="u_retrieve"><a href="@Url.Action("ForgetPwd", "Login")">找回密码</a></div>
                </div>
            </div>

        </div>
    </div>
}



