@using Pannet.Models;
@using Pannet.DAL;

@model Pannet.Models.ChangePwdVModel

@{
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "修改密码";
}
@section Style{
    <link href="/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="/Areas/Mobile/css/base.css?v=1008.2"" rel="stylesheet" />
    <link href="/Areas/Mobile/css/member.css?v=1008.2"" rel="stylesheet" />
    <link href="/Areas/Mobile/css/font-awesome.min.css" rel="stylesheet" />
    <style>
        .alert {margin-top:10px; }
        .pc_bottom { display:none;}
    </style>
}
<!--主区域-->
<div id="container">
    <div class="mc_content">
        <div class="tobx_items">
            @using (Html.BeginForm("InfoPassword", "Member", FormMethod.Post, new { @class = "form-horizontal" }))
            { 
                @Html.ValidationSummary(true)
                @Html.Raw(ViewBag.MessageInfo)
                <ul>
                    <li>
                        <span class="item_name">原密码</span>
                        <span class="item_value">
                            @Html.PasswordFor(m => m.Password, new { @class = "tbox", placeholder = "原密码" })
                        </span>
                    </li>
                    <li>
                        <span class="item_name">新密码</span>
                        <span class="item_value">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "tbox", placeholder = "新密码" })
                        </span>
                    </li>
                    <li>
                        <span class="item_name">确认新密码</span>
                        <span class="item_value">
                            @Html.PasswordFor(m => m.NewPassword2, new { @class = "tbox", placeholder = "新密码" })
                        </span>
                    </li>
                </ul>
                <div class="tips">
                    密码由6-20位英文字母、数字或符号组成
                </div>
                <div class="tips">
                    @Html.ValidationMessageFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword2)
                </div>
                <button type="submit" name="btnSubmit" id="btnSubmit" class="btn-save">确认修改</button>
            }
        </div>
    </div>
    <div class="clear"></div>
</div>
<!--/container-->
