@model PagedList.PagedList<Pannet.Models.ConsultMessage>

@using Pannet.DAL
@using Pannet.DAL.Repository
@using Pannet.Models
@using PagedList.Mvc

@{
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "培训需求提交";
    User LoginUser = ViewBag.User;
}

<style>
    .tad_subCon_info dd:first-child { width: 22%; }
    .tad_subCon_info dd:last-child { width: 78%; }
    .tad_subCon_info textarea { width: calc(90% - 2px); padding: 0 5%; line-height: 60px; font-size: 32px; border: 1px solid #bfbfbf; border-radius: 10px; min-height: 180px; }
    .table { background-color: #fff; width: 100%; margin: 20px 0; }
    .table th, .table td { padding: 10px; text-align: left; border-bottom: 1px solid #ddd; }
    .table td { font-size: 24px; }
    .table th { line-height: 50px; }
</style>
<div class="box">
    <div class="abs_box">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 33%;">申请时间</th>
                    <th>联系人</th>
                    <th>反馈</th>
                    @*<th width="90">状态</th>*@
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count() > 0)
                {
                    int i = 1;
                    foreach (var item in Model)
                    {
                    <tr id="dr_row_@i">
                        <td>
                            @(item.CreateTime)
                        </td>
                        <td>
                            @item.ShopName<br />
                            @item.UserName<br />
                            @item.Tel<br />
                        </td>
                        <td>
                            @(string.IsNullOrEmpty(item.Remark) ? "无" : item.Remark)
                        </td>

                    </tr>
                        i++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">
                            <div class="nothing">暂无培训需求记录.</div>
                        </td>
                    </tr>
                }
                @* <tr>
                    <td colspan="20" align="right">@Html.PagedListPager(Model, page => Url.Action("PeiXunApply", new { page }))</td>
                </tr>*@
            </tbody>
        </table>
        <div class="tad_submitBox">
            <div class="tad_subHeader">培训需求提交</div>
            <div class="tad_subContent">
                <div class="tad_subCon_info">
                     <dl style="display:none;">
                        <dd>公司名称</dd>
                        <dd>
                            <input type="text" name="company" id="company"></dd>
                    </dl>
                    <dl>
                        <dd>所在地</dd>
                        <dd>
                              <select name="Province" id="Province">
                                        <option value="0">-省份-</option>
                                        @if (ViewBag.Provinces != null)
                                        {
                                            foreach (var item in ViewBag.Provinces)
                                            {
                                            <option value="@item.ID">@item.Area_Name</option>
                                            }
                                        }
                                    </select>
                             <select name="City" id="City">
                                        <option value="0">-城市-</option>
                                        @if (ViewBag.Citys != null)
                                        {
                                            foreach (var item in ViewBag.Citys)
                                            {
                                            <option value="@item.ID">@item.Area_Name</option>
                                            }
                                        }
                                    </select>
                            <script>

                                $(function () {
                                    $("#Province").change(function () {
                                        var provinceid = $("#Province").val();
                                        if (parseInt(provinceid) != 0) {
                                            GetCityData();
                                            GetRegionData();
                                        }
                                    });
                                    $("#City").change(function () {
                                        var cityid = $("#City").val();
                                        if (parseInt(cityid) != 0) {
                                            //GetRegionData();
                                        }
                                    });
                                });

                                function ShowCityHtml(cityJson) {
                                    var cityHtml = "<option value='0'>-请选择城市-</option>";
                                    //alert(cityJson);
                                    $.each(cityJson, function (index, data) {
                                        cityHtml += "<option value='" + data.ID + "'>" + data.Area_Name + "</option>";
                                    });
                                    $("#City").html(cityHtml);
                                }
                              
                                function GetCityData() {
                                    var provinceid = $("#Province").val();
                                    if (parseInt(provinceid) == 0)
                                        return null;

                                    $.ajax({
                                        type: 'POST',
                                        url: '@Url.Action("GetAreaJson", "Area")',
                                        data: { "parentid": provinceid },
                                        dataType: "json",
                                        async: false,
                                        success: function (data) {
                                            ShowCityHtml(data);
                                        }
                                    });
                                }
                               
                            </script>
                        </dd>
                    </dl>
                    <dl>
                        <dd>联系人</dd>
                        <dd>
                            <input type="text" name="username" id="username"></dd>
                    </dl>
                    <dl>
                        <dd>手机</dd>
                        <dd>
                            <input type="text" name="tel" id="tel" maxlength="12"></dd>
                    </dl>
                    <dl>
                        <dd>需求说明</dd>
                        <dd>
                            <textarea name="content" id="content" placeholder="简要概括下培训需求"></textarea>
                        </dd>
                    </dl>
                </div>
                <div class="tad_subCon_btn">
                    <input type="button" value="确认提交" id="btnSubmit">
                </div>
            </div>
        </div>
    </div>
</div>

@section Js{

    <script>
        $(function () {
            //确认提交
            $("#btnSubmit").click(function () {
                var username = $("#username").val();
                var tel = $("#tel").val();
                var company = $("#company").val();
                var content = $("#content").val();
                var city = $("#City").val();
                var province = $("#Province").val();
                var regm = /^1[3|5|8|6|7|2|9][0-9]\d{8}$/;
                var address = $("#Province").find("option:selected").text() + $("#City").find("option:selected").text();
                //if (company == "") {
                //    alert("请输入公司名称");
                //    return false;
                //}
                if (province == "0") {
                    alert("请选择省份");
                    return false;
                }
                if (city == "0") {
                    alert("请选择城市");
                    return false;
                }
                if (username == "undefined" || username == "") {
                    alert("请输入联系人");
                    return false;
                }
                if (tel == "undefined" || tel == null || tel == "") {
                    alert("请输入手机号码!");
                    return false;
                } else if (!regm.exec(tel)) {
                    alert("请输入正确的手机号码");
                    return false;
                }
                if (content == "") {
                    alert("请简要描述下培训需求");
                    return false;
                }
                
                SaveRecordMessage(company, username, tel, content, address);

                //alert("预约成功！");
            });
        });
        //提交申请
        function SaveRecordMessage(company, username, tel, content, address) {
            $.ajax({
                url: "/Mobile/Message/PeiXunApply",
                type: "POST",
                async: true,
                cache: false,
                data: { "username": username, "tel": tel, "company": company, "content": content, "address": address },
                success: function (result) {
                    var json_rs = result;//eval("(" + result + ")");
                    if (json_rs == null || json_rs.status == null) {//返回错误
                        alert("操作错误！");
                    }
                    else if (json_rs.status == "success") {
                        alert(json_rs.msg);
                        $("#username").val("");
                        $("#tel").val("");
                        $("#company").val("");
                        $("#content").val("");
                        //location.href = location.href;
                    }
                    else {
                        alert(json_rs.msg);
                    }
                },
                error: function (xmlhttp) {
                    alert("操作错误！<br/>" + xmlhttp.responseText);
                }
            });
        }
    </script>
}