@model PagedList.PagedList<Pannet.Models.User>

@using Pannet.Models
@using Pannet.DAL
@using Pannet.Utility
@using Pannet.DAL.Repository

@{
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "积分排行榜";
    User LoginUser = ViewBag.LoginUser;
}

<div class="box">
    <div class="bsb_box">
        <div class="rl_mineWrap">
            <div class="rl_mine rl_box">
                <dl>
                    <dt>
                        <img src="@LoginUser.U_Thumbnail" alt="" /></dt>
                    <dd>
                        <div class="rl_mInfo">
                            <p>@(!string.IsNullOrEmpty(LoginUser.U_NickName) ? LoginUser.U_NickName : LoginUser.U_UserName)</p>
                            <p>第@(ViewBag.MyRanking)名</p>
                        </div>
                        <div class="rl_num">@(LoginUser.U_Score)分</div>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="rl_list">
            <ul>
                @if (Model != null && Model.Count > 0)
                {
                    int i = 1;
                    foreach (var item in Model)
                    {
                    <li>
                        <div class="rl_lNumber">@i</div>
                        <div class="rl_lInfo rl_box">
                            <dl>
                                <dt>
                                    <img src="@item.U_Thumbnail" /></dt>
                                <dd>
                                    <div class="rl_lIn_name">@(!string.IsNullOrEmpty(item.U_NickName) ? item.U_NickName : item.U_UserName)</div>
                                    <div class="rl_num">@(item.U_Score)分</div>
                                </dd>
                            </dl>
                        </div>
                    </li> 
                        i++;
                    }
                }

            </ul>
        </div>
    </div>
</div>
