@model PagedList.PagedList<Pannet.Models.GoodsType>
@using Pannet.DAL.Repository
@using PagedList.Mvc

@{
    ViewBag.Title = "商品类型";    
}

<div class="page-content">
    <div class="page-header">

        <h1>
            <span id="lblTitle">商品类型</span>
            <small>
                <i class="icon-double-angle-right"></i>
                列表
            </small>
        </h1>
    </div>
    <div class="form-inline">
        <div class="dropdown pull-right">
            <a class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon-cog"></i>操作菜单<i class="icon-caret-down"></i>
            </a>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="@Url.Action("Index")"><i class="icon-group"></i>商品类型</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="@Url.Action("GoodsTypeAdd")"><i class="icon-plus"></i>新增类型</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:window.location.reload();">
                        <i class="icon-refresh"></i>刷新页面</a>
                </li>
            </ul>
        </div>
        <div class="pull-left">
            <form method="post" action="@Url.Action("Index", "GoodsType")" name="searchform" id="searchform">
                <input type="text" class="form-control" value="@ViewBag.Keyword" placeholder="输入搜索词" name="keyword">
                <button type="submit" class="btn btn-success btn-sm"><i class="icon-search"></i>搜索</button>
            <a href="@Url.Action("GoodsTypeAdd")" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-plus"></i>新增类型</a>
            </form>
        </div>
    </div>
    <p></p>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th width="20" align="right"></th>
                <th width="40" align="left">ID</th>
                <th width="200" align="left">类型名称</th>
                @*<th width="200" align="left">父类型</th>*@
                @*<th width="120" align="left">是否启用</th>
                <th width="120" align="left">是否推荐</th>*@
                <th width="120" align="left">排序号</th>
                <th align="left" class="dr_option">操作</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var item in Model)
            {
                <tr id="dr_row_@i">
                    <td align="right">
                        <input name="ids[]" type="checkbox" class="dr_select toggle md-check" value="1" disabled=""></td>
                    <td align="left">@Html.DisplayFor(modelItem => item.ID)</td>
                    <td align="left">@Html.DisplayFor(modelItem => item.GT_Name)</td>
                    @*<td align="left">@(GoodsTypeService.GetName(item.GT_ParentID))</td>*@
                    @* <td>@Html.Raw(item.GT_IsEnable == 1 ? "<i class='icon-ok green' title='是'></i>" : "<i class='icon-remove red' title='否'></i>")</td>
                    <td>@Html.Raw(item.GT_IsRecommend == 1 ? "<i class='icon-ok green' title='是'></i>" : "<i class='icon-remove red' title='否'></i>")</td>*@
                    <td align="left">@Html.DisplayFor(modelItem => item.GT_Sort)</td>
                    <td align="left" class="dr_option">
                        @*<a class="alist" href="@Url.Action("Index", "Property", new { GoodsTypeID = item.ID })"><i class="icon-user"></i>属性列表</a>*@
                        <a class="aedit" href="@Url.Action("GoodsTypeAdd", "GoodsType", new { ID = item.ID })"><i class="icon-edit"></i>编辑</a>
                        @*<a class="adel" href="@Url.Action("GoodsTypeDelete", "GoodsType", new { ID = item.ID })" style="@(item.ID == 1 ? "display:none" : "") " data-confirm="delete"><i class="icon-trash"></i>删除</a>*@
                    </td>
                </tr>
                i++;
            }
            <tr>
                <td colspan="20" align="right">@Html.PagedListPager(Model, page => Url.Action("Index", new { page,Keyword=ViewBag.Keyword }))</td>
            </tr>
        </tbody>
    </table>
</div>

